<h1>Listar Produtos</h1>
<link rel="stylesheet" href="/css/style-list.css">
<div class="content">
  <div class="cadastrar">
    <a href="/produto/cadastrar">Cadastrar Produto +</a>
  </div>
</div>

<div class="table-container">
  <table class="user-table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Imagem</th>
        <th>Nome</th>
        <th>Marca</th>
        <th>Quantidade(Unidade)</th>
        <th>Preço</th>
        <th>Status</th>
        <th>Descrição</th>
        <th>Ações</th>
      </tr>
    </thead>

    <tbody>
      <%for(let i=0;i<lista.length;i++){%>
        <tr>
          <td>
            <%=lista[i].pro_id%>
          </td>
          <td>
            <img src="<%=lista[i].pro_image%>" alt="<%=lista[i].pro_nome%>">
          </td>
          <td>
            <%=lista[i].pro_nome%>
          </td>
          <td>
            <%=lista[i].pro_marca%>
          </td>
          <td>
            <%=lista[i].pro_quant%>
          </td>
          <td>
            R$ <%= lista[i].pro_preco %>
          </td>
          <td>
            <%if(lista[i].pro_status === 1){%>
              <span>Ativo</span>
            <%}else{%>
              <span>Inativo</span>
            <%}%>
          </td>
          <td>
            <%=lista[i].pro_desc%>
          </td>
          <td>
            <button type="button"
                    class="btn-update"
                    data-update-id=""
                    data-update-nome=""
                    data-update-email=""
                    data-update-perfil="">
              <img src="/assets/pincel.png" alt="Edição">
            </button>
            <button type="button" data-id="<%= lista[i].pro_id%>" class="btn-delete"><img src="/assets/lixo.png"
                alt="lixeira"></button>
          </td>
        </tr>
        <%}%>
    </tbody>
  </table>
</div>
<script src="/js/produto/fecthDeletar.js"></script>
