<h1>Listar Usuario</h1>
<link rel="stylesheet" href="/css/style-list.css">
<div class="content">
  <div class="cadastrar">
    <a href="/usuario/cadastrar">Cadastrar Usuário +</a>
  </div>
</div>

<div class="table-container">
  <table class="user-table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Marca</th>
        <th>Quantidade(Unidade)</th>
        <th>Preço</th>
        <th>imagem</th>
        <th>Status</th>
        <th>Descrição</th>
        <th>Ações</th>
      </tr>
    </thead>

    <tbody>
      <%for(let i=0;i<lista.length;i++){%>
        <tr>
          <td>
            <%=lista[i].pro_id%>
          </td>
          <td>
            <%=lista[i].pro_nome%>
          </td>
          <td>
            <%=lista[i].pro_marca%>
          </td>
          <td>
            <%=lista[i].pro_quant%>
          </td>
          <td>
            <%= lista[i].pro_preco %>
          </td>
          <td>
            <%=lista[i].pro_image%>
          </td>
          <td>
            <%=lista[i].pro_status%>
          </td>
          <td>
            <%=lista[i].pro_desc%>
          </td>
          <td>
            <button type="button"
                    class="btn-update"
                    data-update-id=""
                    data-update-nome=""
                    data-update-email=""
                    data-update-perfil="">
              <img src="/assets/pincel.png" alt="Edição">
            </button>
            <button type="button" data-id="<%= lista[i].pro_id%>" class="btn-delete"><img src="/assets/lixo.png"
                alt="lixeira"></button>
          </td>
        </tr>
        <%}%>
    </tbody>
  </table>
</div>
<script src="/js/produto/fecthDeletar.js"></script>
