<h1>Listar Usuario</h1>
<link rel="stylesheet" href="/css/style-list.css">
<div class="content">
  <div class="cadastrar">
    <a href="/usuario/cadastrar">Cadastrar Usuário +</a>
  </div>
</div>

<div class="table-container">
  <table class="user-table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Perfil</th>
        <th>Ações</th>
      </tr>
    </thead>

    <tbody>
      <%for(let i=0;i<lista.length;i++){%>
        <tr>
          <td>
            <%=lista[i].usu_id%>
          </td>
          <td>
            <%=lista[i].usu_nome%>
          </td>
          <td>
            <%=lista[i].usu_email%>
          </td>
          <td>
            <%=lista[i].usu_perfil_desc%>
          </td>
          <td>
            <a href="/usuario/editar/<%=lista[i].usu_id%>"><img src="/assets/pincel.png" alt="editar"></a>
            <button type="button" data-id="<%=lista[i].usu_id%>" class="btn-delete"><img src="/assets/lixo.png" alt="lixeira"></button>
          </td>
        </tr>
        <%}%>
    </tbody>
  </table>
</div>
<!-- SweetAlert2 (CDN) -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- Script that attaches delete handlers -->
<script src="/js/usuario/fetchDeletar.js"></script>