<h1>Listar Usuario</h1>
<link rel="stylesheet" href="/css/style-list.css">
<div class="content">
  <div class="cadastrar">
    <a href="/usuario/cadastrar">Cadastrar Usuário +</a>
  </div>
</div>

<div class="table-container">
  <table class="user-table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Perfil</th>
        <th>Ações</th>
      </tr>
    </thead>

    <tbody>
      <%for(let i=0;i<lista.length;i++){%>
        <tr>
          <td>
            <%=lista[i].usu_id%>
          </td>
          <td>
            <%=lista[i].usu_nome%>
          </td>
          <td>
            <%=lista[i].usu_email%>
          </td>
          <td>
            <%=lista[i].usu_perfil_desc%>
          </td>
          <td>
            <button type="button" data-update="<%=lista[i].usu_id%>" class="btn-update"><img src="/assets/pincel.png"
                alt="Edição"></button>
            <button type="button" data-id="<%=lista[i].usu_id%>" class="btn-delete"><img src="/assets/lixo.png"
                alt="lixeira"></button>
          </td>
        </tr>
        <%}%>
    </tbody>
  </table>
</div>
<div class="modal">
  <div class="modal-card">
    <div class="title-modal">
      <span>Editar Usuário</span>
    </div>
    <div class="form">
      <div>
        <label class="label" for="text">Nome</label>
        <input type="text" name="nome" id="nome" value="<%= obter.usu_nome%>">
        <div class="msg-erro">

        </div>
      </div>
      <div>
        <label for="text">Email</label>
        <input type="text" name="email" id="email" value="onbter.usu_email">
      </div>
      <div>
        <label for="text">Perfil</label>
        <select name="perfil" id="perfil">
          <option value="0">--Selecionar--</option>
          <%for(let i=0;i < listaPer.length; i++){%>
            <option value="<%= listaPer[i].per_id %>">
              <%= listaPer[i].per_desc%>
            </option>
            <%}%>
        </select>
      </div>
      <div class="btn-modal">
        <button class="btn-close" type="button">Cancelar</button>
        <button class="btn-salvar" type="button">Salvar</button>
      </div>
    </div>
  </div>
  <!-- SweetAlert2 (CDN) -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <!-- Script that attaches delete handlers -->
  <script src="/js/usuario/fetchDeletar.js"></script>
  <script src="/js/usuario/fectAtualizar.js"></script>